**

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!tsconfig.json

!apps
!apps/api
!apps/api/package.json
!apps/api/prisma.config.ts
!apps/api/prisma
!apps/api/prisma/**/*.prisma
!apps/api/prisma/**/*.sql
!apps/api/prisma/**/*.toml
!apps/api/tsconfig.json
!apps/api/tsconfig.build.json
!apps/api/src
!apps/api/src/**/*.ts

!packages
!packages/eslint-config
!packages/eslint-config/package.json
!packages/typescript-config
!packages/typescript-config/package.json
!packages/typescript-config/base.json
!packages/typescript-config/nest.json

**/.env
**/.env.*
**/.npmrc
**/.pnpmrc
**/*.crt
**/*.key
**/*.p12
**/*.pem
